.secureFormOverlayBackground {
  background: #000000;
  opacity: 0.7;
}

.secureFormOverlayForeground {
  margin: 50px;
  background: transparent;
}

.secureFormControls, .secureFormForm, .secureFormDialog {
  background: white;
  margin: 10px;
  border-radius: 10px;
  -moz-outline-radius: 10px;
  outline: 3px solid white;
  outline-offset: -3px;
}
.secureFormForm {
  outline-color: blue;
}
.secureFormControls {
  outline-color: orange;
}
.secureFormDialog {
  outline-color: green;
}
